server:
  port: 8072
spring:
  data:
    redis:
      timeout: 1s
      connect-timeout: 2s
      host: localhost
      port: 6379
  cloud:
    gateway:
      discovery:
        locator:
          enabled: false
          lower-case-service-id: true
      routes:
        - id: account-service
          uri: lb://account
          predicates:
            - Path=/account/**, /eazybank/account/**
          filters:
            - ContextPathRewritePath=/eazybank/account/(?<path>.*), /$\{path}
            - RewritePath=/account/(?<path>.*), /$\{path}
            - name: CircuitBreaker
              args:
                name: accountCircuitBreaker
                fallbackUri: forward:/contactSupport
        - id: loan-service
          uri: lb://loan
          predicates:
            - Path=/loan/**, /eazybank/loan/**
          filters:
            - ContextPathRewritePath=/eazybank/loan/(?<path>.*), /$\{path}
            - RewritePath=/loan/(?<path>.*), /$\{path}
            - name: Retry
              args:
                retries: 3
                methods: GET
                backoff:
                  firstBackoff: 100ms
                  maxBackoff: 1000ms
                  factor: 2
                  basedOnPreviousValue: true
        - id: card-service
          uri: lb://card
          predicates:
            - Path=/card/**, /eazybank/card/**
          filters:
            - ContextPathRewritePath=/eazybank/card/(?<path>.*), /$\{path}
            - RewritePath=/card/(?<path>.*), /$\{path}
            - name: RequestRateLimiter
              args:
                redis-rate-limiter:
                  replenishRate: 1
                  burstCapacity: 1
                  requestedTokens: 1
                key-resolver: "#{@userKeyResolver}"
        - id: openapi
          uri: http://localhost:${server.port}
          predicates:
            - Path=/v3/api-docs/**
          filters:
            - RewritePath=/v3/api-docs/(?<path>.*), /$\{path}/v3/api-docs
    config:
      enabled: false
    kubernetes:
      discovery:
        enabled: false
      config:
        enabled: false
  kafka:
    bootstrap-servers: http://localhost:9092
  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: http://localhost:7080/realms/eazybank/protocol/openid-connect/certs
  logging:
    loki:
      enabled: false
      url: http://localhost:3100/loki/api/v1/push
  webflux:
    problemdetails:
      enabled: true

eureka:
  instance:
    preferIpAddress: true
  client:
    fetchRegistry: true
    registerWithEureka: true
    serviceUrl:
      defaultZone: http://easybank:root@localhost:8070/eureka/

logging:
  level:
    ROOT: DEBUG
    io.github.susimsek.gatewayserver: DEBUG
  pattern:
    level: '%5p [${spring.application.name:},%X{traceId:-},%X{spanId:-}]'

management:
  tracing:
    enabled: false
