server:
  port: 8080
spring:
  datasource:
    url: jdbc:h2:mem:accountdb;MODE=PostgreSQL;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE;
    username: easybank
    password: root
    hikari:
      maximum-pool-size: 30
      minimum-idle: 1
      pool-name: Hikari
      auto-commit: false
  h2:
    console:
      enabled: true
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
  data:
    redis:
      host: localhost
      port: 6379
  liquibase:
    contexts: local, faker
  kafka:
    bootstrap-servers: http://localhost:9092
  cloud:
    kubernetes:
      discovery:
        enabled: false
      config:
        enabled: false
    openfeign:
      circuitbreaker:
        enabled: true
      oauth2:
        enabled: true
        clientRegistrationId: eazybank-client
    function:
      definition: updateCommunication;processAccountDebeziumEvent
    stream:
      bindings:
        updateCommunication-in-0:
          destination: communication-sent
          group: ${spring.application.name}
        processAccountDebeziumEvent-in-0:
          destination: pg-changes.public.account
          group: ${spring.application.name}
        sendCommunication-out-0:
          destination: send-communication
    config:
      enabled: false
  logging:
    loki:
      enabled: false
      url: http://localhost:3100/loki/api/v1/push
  cache:
    redisson:
      regions:
        entry.expiration.max_entries: 10000
        entry.expiration.time-to-live: 3600000
        entry.expiration.max_idle_time: 1800000
  mvc:
    problemdetails:
      enabled: true
  task:
    execution:
      thread-name-prefix: account-task-
      pool:
        core-size: 2
        max-size: 50
        queue-capacity: 10000
    scheduling:
      pool:
        size: 2
  jackson:
    serialization:
      write-dates-as-timestamps: false
    deserialization:
      fail-on-unknown-properties: false
    default-property-inclusion: non_null
  reactor:
    context-propagation: auto
  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: http://localhost:7080/realms/eazybank/protocol/openid-connect/certs
      client:
        provider:
          keycloak:
            token-uri: http://localhost:7080/realms/eazybank/protocol/openid-connect/token
        registration:
          eazybank-client:
            provider: keycloak
            client-id: eazybank-callcenter
            client-secret: MS39GUVz3NDaIfY5aBM3U9kw4Kw6MvsF
            authorization-grant-type: client_credentials
            scope: openid, profile, email
  webclient:
    httpclient:
      config:
        connect-timeout: 5000
        read-timeout: 10000
        write-timeout: 10000
    oauth2:
      clientRegistrationId: eazybank-client


eureka:
  instance:
    preferIpAddress: true
  client:
    enabled: true
    fetchRegistry: true
    registerWithEureka: true
    serviceUrl:
      defaultZone: http://easybank:root@localhost:8070/eureka/

resilience4j.circuitbreaker:
  configs:
    default:
      slidingWindowSize: 10
      permittedNumberOfCallsInHalfOpenState: 2
      failureRateThreshold: 50
      waitDurationInOpenState: 10000

resilience4j.retry:
  configs:
    default:
      maxAttempts: 3
      waitDuration: 500
      enableExponentialBackoff: true
      exponentialBackoffMultiplier: 2
      ignoreExceptions:
        - java.lang.NullPointerException
      retryExceptions:
        - java.util.concurrent.TimeoutException

resilience4j.ratelimiter:
  configs:
    default:
      timeoutDuration: 1000
      limitRefreshPeriod: 5000
      limitForPeriod: 1

build:
  version: "3.0"

account:
  message: "Welcome to EazyBank account related local APIs "
  contactDetails:
    name: "John Doe - Developer"
    email: "john@eazybank.com"
  onCallSupport:
    - (555) 555-1234
    - (555) 523-1345

springdoc:
  oAuthFlow:
    tokenUrl: http://localhost:7080/realms/eazybank/protocol/openid-connect/token
    authorizationUrl: http://localhost:7080/realms/eazybank/protocol/openid-connect/auth

management:
  tracing:
    enabled: false

logging:
  level:
    ROOT: DEBUG
    org.hibernate.SQL: DEBUG
    io.github.susimsek.account: DEBUG
  pattern:
    level: '%5p [${spring.application.name:},%X{traceId:-},%X{spanId:-}]'